{% extends 'base.html' %}
{% load bootstrap_filter %}

{% block title %}.:Páagina Usuário{% endblock %}

{% block content %}
<div class="card-body w-75 mx-auto border-none">
    <h1 class="text-end">Registrar Atendimento</h1>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="card w-75 mx-auto">
        <div class="card-header border">
            <h2>Dados do Ponto de Coleta</h2>
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <label class="h3">Código:</label>
                {{ ca.recipient.code }}
            </div>
            <div class="col-md-6">
                <label class="h3">Razão Social:</label>
                {{ ca.recipient.first_name }} {{ ca.recipient.last_name }}
            </div>
            <div class="col-md-6">
                <label class="h3">Telefone: </label>
                {{ ca.recipient.phone }}
            </div>
            <div class="col-md-6">
                <label class="h3">Email: </label>
                {{ ca.recipient.email }}
            </div>
        </div>

        <div class="card-header border">
            <h2>Endereço</h2>
        </div>
        <div class="card-body row mx-auto">
            <div class="col-md-12">
                <h5 class="text-danger fw-bold">{{ ca.address }}</h5>
            </div>
        </div>

        <div class="card-header border">
            <h2>Agendamento</h2>
        </div>
        <div class="card-body row mx-auto">
            <div class="col-md-6 ">
                <label class="h3">Data:</label><br>
                {{ ca.date }}
            </div>
            <div class="col-md-6">
                <label class="h3">Hora:</label><br>
                {{ ca.time }}
            </div>
        </div>

        <div class="card-header border">
            <h2>Confirmação</h2>
        </div>
        <div class="card-body row">
            <div class="col-md-12 text-center">
                <label class="h3">Confirmar:</label>
                {{ ca_form.confirmed|f_class:'form-control w-25 mx-auto text-center' }}
            </div>
        </div>
    </div>
    <div class="card-body w-75 mx-auto ps-0">
        <a href="{% url 'app_donation:search_rc' %}" class="btn btn-lg btn-outline-danger me-3">Cancelar</a>
        <button type="submit" class="btn btn-lg btn-success">Confirmar</button>
    </div>
</form>
{% endblock %}