{% extends 'base.html' %}
{% load bootstrap_filter %}

{% block title %}{% endblock %}

{% block content %}
<style>
    .card, .card-body{
        margin-top: 5%;
    }
</style>

<form method="POST">
    {% csrf_token %}
    <div class="card card-body w-75 mx-auto">
        <!--input type="text" class="form-control"-->
        {{ search_rc_form.search|f_class:'form-control' }}
        <div class="d-flex content-justify-center mx-auto p-1">
            <a href="{% url 'users_auth:userpage' %}" class="btn btn-light mx-auto m-2 border">Voltar</a>
            <button class="btn btn-success mx-auto m-2">Pesquisar</button>
        </div>
    </div>

    <div class="card card-body w-75 mx-auto">
        {% if result is not None %}
            {% for r in result %}
                <a href="{% url 'app_donation:customer_service' r.id %}" class="text-decoration-none">
                    <div class="cardcard-body">
                        <h4 class="text-success">{{ r.code }} - {{ r.first_name}} {{r.last_name}}</h4>
                        <p class="text-success">{{ r.about }}</p>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</form>
{% endblock %}