{% extends 'base.html' %}
{% load bootstrap_filter %}

{% block title %}.:Login{% endblock %}

{% block content %}
<style>
    .card {
        margin-top: 10%;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <div class="card mx-auto px-auto w-75">
        <div class="card-header h2 text-success">Registrar Usuário</div>
        <div class="card-body">
            <label>Código</label>
            {{ profile_form.code|f_class:'form-control' }}
            <label>Nome</label>
            {{ profile_form.first_name|f_class:'form-control' }}
            <label>Sobrenome</label>
            {{ profile_form.last_name|f_class:'form-control' }}
            <label>Nome de Usuário</label>
            {{ profile_form.username|f_class:'form-control' }}
            <label>Senha</label>
            {{ profile_form.password1|f_class:'form-control' }}
            <label>Cofirmar Senha</label>
            {{ profile_form.password2|f_class:'form-control' }}
            <label>Email</label>
            {{ profile_form.email|f_class:'form-control' }}
            <label>Telefone</label>
            {{ profile_form.phone|f_class:'form-control' }}
            <label>Tipo de Usuário</label>
            {{ profile_form.profile_type|f_class:'form-control' }}
            <label>Sobre mim</label>
            {{ profile_form.about|f_class:'form-control' }}
        </div>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
</form>
{% endblock %}