{% extends 'base.html' %}
{% load bootstrap_filter %}

{% block title %}.:Páagina Usuário{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Olá, {{ request.user }}</h1>
<div class="card w-25 mx-auto">
    <a href="{% url 'app_donation:search_rc' %}" class="btn btn-success">Agendar Doação</a>
    <br>
    <a href="{% url 'users_auth:logout' %}" class="btn btn-danger">Sair</a>
</div>
<hr>
<!--Notificações-->
<div>
    <h1 class="ms-5">Notificações</h1>
    <h2 class="card mx-auto w-50 text-center">Aqui ficarão as notificações</h2>

    {% for call in calls %}
        {% if call.status_service == '0' %}
        <a href="" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(218, 253, 229);">
            <h5 class="text-success">Atendimento está {{ call.get_status_service_display }} de {{ call.recipient.first_name }} 
                {{ call.recipient.last_name }}</h5>
        </a>
        {% elif call.status_service == '1' %}
        <a href="" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(172, 252, 165);">
            <h5 class="text-success">{{ call.get_status_service_display }} de {{ call.recipient.first_name }} 
                {{ call.recipient.last_name }}</h5>
        </a>
        {% elif call.status_service == '2' %}
        Calma
        {% elif call.status_service == '3' %}
        Calma
        {% elif call.status_service == '4' %}
        Calma
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
