{% extends 'base.html' %}
{% load bootstrap_filter %}

{% block title %}.:Páagina Usuário{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Olá, {{ request.user }}</h1>
<div class="card w-25 mx-auto">
    <a href="{% url 'users_auth:logout' %}" class="btn btn-danger">Sair</a>
</div>
<hr>
<!--Notificações-->
<div>
    <h1 class="ms-5">Notificações</h1>
    <h2 class="card mx-auto w-50 text-center">Aqui ficarão as notificações</h2>

    {% for call in calls %}
        {% if call.status_service == '0' %}
            <a href="{% url 'app_donation:confirm_ca' call.id %}" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(218, 253, 229);">
                <h5 class="text-success">Atendimento para {{ call.requester.first_name }} {{ call.requester.last_name }} está aguardando sua confirmação.</h5>
            </a>
        {% elif call.status_service == '1' %}
            <a href="{% url 'app_donation:donation' call.id %}" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(172, 252, 165);">
                <h5 class="text-success">Atendimento Agendado. Continuar com doação</h5>
            </a>
        {% elif call.status_service == '2' %}
        <a href="" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(82, 236, 203);">
            <h5 class="text-success">Aguardando {{ call.requester.first_name }} {{ call.requester.last_name }} confirmar materiais</h5>
        </a>
        {% elif call.status_service == '3' %}
        <a href="" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(236, 200, 82);">
            <h5 class="text-success">Atendimento cancelado</h5>
        </a>
        {% elif call.status_service == '4' %}
        <a href="" class="card mx-auto w-50 p-2 text-decoration-none" style="background-color: rgb(82, 187, 129);">
            <h5 class="text-light">Atendimento concluído</h5>
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
